---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import Team from "../components/Team.astro";
import Herotop from "../components/AboutHero.astro";
import Faqs from "../components/Faqs.astro";

import "../styles/mouse-follower.min.css";
---

<Layout title="Welcome to our site">
  <Herotop />

  <main class="">
    <Container>
      <div class="about-wrapper">
        <div class="about-explatop">
          <div class="about-head">
            <h1 class="text-3xl font-medium leading-none sm:text-3xl md:text-5xl sm-center-text">About Us</h1>
          </div>
          <div class="about-explamain">
            <p class="text-xl font-normal leading-7 md:text-left">
              We are a digital marketing agency that specializes in creating and optimizing digital marketing
              strategies. We are dedicated to helping our clients achieve their online goals.
            </p>
            <br />
            <br />
            <h3 class="text-2xl font-medium leading-none sm:text-3xl sm-center-text">Why choose us</h3>
            <br />
            <p class="text-xl font-normal leading-7 md:text-left">
              Our team has extensive experience and expertise in building thriving online communities. From strategizing
              community engagement to managing interactions and fostering a sense of belonging, we know what it takes to
              create vibrant online spaces that drive brand advocacy and customer loyalty. With our guidance and
              support, you can trust us to build and nurture a community that amplifies your brand's reach and impact.
            </p>
          </div>
        </div>
        <div class="about-us"></div>
      </div>
    </Container>
    <div class="grid grid-cols-4 text-center gap-4 stats-strip">
      <div class="flex flex-col justify-end items-center p-4">
        <div class="text-5xl font-bold">3.2K+</div>
        <div class="text-xl font-normal">Projects</div>
      </div>
      <div class="flex flex-col justify-end items-center p-4">
        <div class="text-5xl font-bold">5</div>
        <div class="text-xl font-normal">Years of experience</div>
      </div>
      <div class="flex flex-col justify-end items-center p-4">
        <div class="text-5xl font-bold">35k+</div>
        <div class="text-xl font-normal">Social followers</div>
      </div>
      <div class="flex flex-col justify-end items-center p-4">
        <div class="text-5xl font-bold">100k+</div>
        <div class="text-xl font-normal">Profits generated</div>
      </div>
    </div>

    <Faqs />
    <Team />
  </main>
</Layout>

<script is:inline src="https://raw.githubusercontent.com/vickkie/dev-javascript/main/scrollsmoother.js"></script>
