---
import "../styles/about.css";
---

<div class="abouthero">
  <div class="hero-wrapper">
    <div class="hero-header">
      <div class="text-2xl font-bold leading-none sm:text-3xl md:text-5xl">
        Unlock your brands potential with our creative solutions
      </div>
    </div>
  </div>
  <div class="hero-image">
    <div class="parallax-image parallax-hero">
      <img src="../images/hero.webp" alt="creation" class="parallax-about-image" />
    </div>
  </div>
</div>
