---
import Container from "./Container.astro";
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row" id="projects">
    <div class="row items-center py-5 md:pr-40 md:w-5/12 md:py-10">
      <div class="text-center md:text-left space-y-3 bg-lime">
        <h2 class="text-4xl font-medium leading-none sm:text-6xl">Case Studies</h2>
      </div>
    </div>
    <div class="flex items-center py-5 md:w-7/12 md:py-10">
      <p class="text-xl font-normal leading-7 text-center md:text-left">
        Explore Real-Life Examples of Our Proven Digital Marketing Success through Our Case Studies
      </p>
    </div>
  </div>

  <div class="w-full p-12 bg-zinc-900 rounded-[45px] justify-start items-start gap-16 inline-flex text-white">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2 divide-x-0 md:divide-x divide-y md:divide-y-0">
      <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
        <div class="w-full text-lg font-normal">
          For Hypercritical, a digital design agency based in Nairobi, Kenya, we developed a targeted PPC campaign that
          resulted in a 250% increase in website traffic and a 100% increase in leads.
        </div>
        <div class="justify-start items-center gap-[15px] inline-flex">
          <div class="text-lime text-xl font-normal leading-7">Learn more</div>
          <img src="/services/agc.svg" alt="arrow" />
        </div>
      </div>
      <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
        <div class="w-full text-lg font-normal">
          For Maisha Mabati, a leading rooftop installation company based in Kenya, we created a social media marketing
          campaign that resulted in a 500% increase in followers and a 200% increase in website traffic.
        </div>
        <div class="justify-start items-center gap-[15px] inline-flex">
          <div class="text-lime text-xl font-normal leading-7">Learn more</div>
          <img src="/services/agc.svg" alt="arrow" />
        </div>
      </div>
      <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
        <div class="w-full text-lg font-normal">
          For a hotel located in the heart of Kampala, Uganda, we developed a content marketing strategy that resulted
          in a 200% increase in bookings and a 50% increase in revenue.
        </div>
        <div class="justify-start items-center gap-[15px] inline-flex">
          <div class="text-lime text-xl font-normal leading-7">Learn more</div>
          <img src="/services/agc.svg" alt="arrow" />
        </div>
      </div>
    </div>
  </div>
</Container>
