---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="" />
    <meta name="generator" content={Astro.generator} />
    <title>Illunexus - Marketing Agency</title>
    <meta name="description" content="Making digital products and services" />

    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#FFFFFF" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)" />

    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet" />
  </head>
  <body class="bg-white font-SpaceGrotesk space-y-20">
    <>
      <Navbar />
      <slot />
      <Footer />
    </>

    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
    <script>
      import gsap from "gsap";
      import MouseFollower from "mouse-follower";

      let selectAll = (e: any) => document.querySelectorAll(e);
      let select = (e: any) => document.querySelector(e);

      MouseFollower.registerGSAP(gsap);
      new MouseFollower();

      //Group 2
    </script>
  </body>
</html>
